@import "./../../../index.scss";

.card_nombre{
    margin-top: 1em;
    font-weight: 700;
}
.card_link{
    margin: 0 5px;
    color: var(--negro);
}
.iconCard{
    
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(244, 226, 21, 0.936);
    font-size: 2em;
    z-index: 5;

}
